{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://redom.js.org/redom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
      const jsonData = JSON.parse('{{ data|safe }}');
    </script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
